:root {
    --text-color: rgb(198, 216, 241);
    --dark-background: rgb(34, 32, 41);
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(44, 42, 54);
}

header {
    color: var(--text-color);
    background-color: var(--dark-background);
    font-size: 3rem;
    padding: 1rem;
}

main { 
    text-align: center;
    margin-top: 4rem;
}

span a {
    display: inline-block;
}

main a {
    color: var(--text-color);
    text-decoration: none;
    margin: 2rem;
}

footer {
    color: var(--text-color);
    text-align: center;
    margin-top: 15rem;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.card {
    background-color: var(--dark-background);
    padding: 1.5rem;
    border-radius: 5px;
}

.card-title {
    font-weight: bold;
}

.card-description {
    font-style: italic;
    font-size: 13px;
}